
:root {
  --app-primary-color: #c44d34;
  --app-secondary-color: #fff;
  --app-border: #e7e7e7;
  --app-sideBar-color: rgb(225, 253, 249);
  --app-insideSidebar-color:#c44d34;
  --app-dropDown-color:rgb(225, 253, 249);
  --app-fontFamily:'Times New Roman', Times, serif;
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.globalFont{
  font-family: 'Times New Roman', Times, serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Times New Roman', Times, serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
.modal-size {
  position: absolute;
  width: 50%;
  height: 50%;

  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;

  transform: translate(-50%, -50%);
}
